@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Delight Mother';
    src: url('./assets/fonts/Delight Mother.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body{
    @apply font-poppins;
  }
}

.custom-container {
    @apply max-w-screen-xl mx-auto px-4 md:px-8 w-[95%];
}
